<nav class="navbar col-md-12" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li id="search-bar" data-hook class="col-xs-12 col-md-4">
      <%= render :partial => 'spree/shared/search' %>
    </li>
    <li class="col-xs-12 col-md-4">
		<a role="button" class="btn btn-primary btn-default" href="tel:+353214272744">
			<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
			<span>Contact us <span>for more information</span>
		</a>
	</li>
  </ul>
</nav>
